<!doctype html>
<html lang="en">
  <head>
    <title>Election Result Table for <%= election.code.toUpperCase() %> &mdash; <%= muniName %></title>
    <%- include('partials/head'); %>
  </head>

  <body>
    <div class="container">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="/">Home</a></li>
          <li class="breadcrumb-item"><a href="/<%= election.code %>"><%= election.code.toUpperCase() %></a></li>
          <li class="breadcrumb-item"><a href="/<%= election.code %>/<%= muniCode %>"><%= muniName %></a></li>
          <li class="breadcrumb-item active" aria-current="page">Shortened table</li>
        </ol>
      </nav>
      <h1>Election Result Table for <%= election.code.toUpperCase() %> &mdash; <%= muniName %></h1>
      <p>Copy the following code into your Wikipedia article.</p>
      <button id="copybutton" type="button" class="btn btn-primary mb-2" onclick="copyTable()" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-trigger="manual" title="Copied!">Copy to clipboard</button>
      <%- include(ballotTotals.ward_seats > 0 ? 'partials/table' : 'partials/table-noward') %>
    </div>
    <script type="text/javascript" src="/clickcopy.js"></script>
  </body>
</html>