<!doctype html>
<html lang="en">
  <head>
    <title>Election Result Table for <%= election.code.toUpperCase() %> &mdash; <%= muniName %></title>
    <%- include('partials/head'); %>
  </head>

  <body>
    <div class="container py-3">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="/">Home</a></li>
          <li class="breadcrumb-item"><a href="/<%= election.code %>"><%= election.code.toUpperCase() %></a></li>
          <li class="breadcrumb-item active" aria-current="page"><%= muniName %></li>
        </ol>
      </nav>
      <h1>Election Result Table for <%= election.code.toUpperCase() %> &mdash; <%= muniName %></h1>
      <p>Copy the following code into your Wikipedia article.</p>
      <% if (showShortLink) { %>
        <p><a href="/<%= election.code %>/<%= muniCode %>/short">Click here for a shortened version of the table, which reduces all parties who did not win a seat to a single "Other parties" line.</a></p>
      <% } %>
      <button id="copybutton" type="button" class="btn btn-primary mb-2" onclick="copyTable()" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-trigger="manual" title="Copied!">Copy to clipboard</button>
      <%- include(ballotTotals.ward_seats > 0 ? 'partials/table' : 'partials/table-noward') %>

      <%- include('partials/foot'); %>
    </div>
    <script type="text/javascript" src="/clickcopy.js"></script>
  </body>
</html>